<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.somsomy.mapper.CatsMapper">

	<select id="getCatList" resultType="com.somsomy.domain.CatsBean">
		select * from cats order by catid desc limit #{startRow}, #{pageSize}
	</select>
	
	<select id="getCatCount" resultType="java.lang.Integer">
		select count(*) from cats where cat_ing='보호중'
	</select>
	
	<select id="findByCatId" resultType="com.somsomy.domain.CatsBean">
		select * from cats where catid=#{catId}
	</select>

</mapper>